{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Flasky{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Hello, {% if name %}{{ name }}{% else %}Stranger{% endif %}!</h1>
    </div>
    {{ wtf.quick_form(form) }}
{% endblock %}

<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head lang="en">-->
    <!--<meta charset="UTF-8">-->
    <!--<title>EDPS</title>-->
<!--</head>-->
<!--<body>-->
    <!--<h1>EDPS</h1>-->
    <!--<form method="POST">-->
        <!--{{ form.hidden_tag() }}-->
        <!--{{ form.name.label }}{{ form.name(id='my-text-field') }}-->
        <!--{{ form.submit() }}-->
    <!--</form>-->
    <!--<p>{{ name }}</p>-->
<!--</body>-->
<!--</html>-->